<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.dptech.wap.train.persist.mapper.TrainStationLinkMapper" >
  <resultMap id="BaseResultMap" type="org.dptech.wap.train.persist.model.TrainStationLink" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="train_no" property="trainNo" jdbcType="VARCHAR" />
    <result column="station_order" property="stationOrder" jdbcType="TINYINT" />
    <result column="station_code" property="stationCode" jdbcType="VARCHAR" />
    <result column="station_name" property="stationName" jdbcType="VARCHAR" />
    <result column="arrive_time" property="arriveTime" jdbcType="VARCHAR" />
    <result column="leave_time" property="leaveTime" jdbcType="VARCHAR" />
    <result column="stay_time" property="stayTime" jdbcType="DOUBLE" />
    <result column="run_time" property="runTime" jdbcType="VARCHAR" />
    <result column="days" property="days" jdbcType="VARCHAR" />
    <result column="distance" property="distance" jdbcType="DOUBLE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_timestamp" property="updateTimestamp" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, train_no, station_order, station_code, station_name, arrive_time, leave_time, 
    stay_time, run_time, days, distance, create_time, update_time, update_timestamp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from train_station_link
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="getByTrainNoAndStationCode" resultMap="BaseResultMap" parameterType="map">
  	select 
    <include refid="Base_Column_List" />
    from train_station_link
    where train_no = #{trainNo,jdbcType=VARCHAR} and station_code = #{stationCode,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from train_station_link
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.dptech.wap.train.persist.model.TrainStationLink" >
	insert into train_station_link (id, train_no, station_order,
	station_code, station_name, arrive_time,
	leave_time, stay_time, run_time,
	days, distance, create_time,
	update_time, update_timestamp)
	values (#{id,jdbcType=VARCHAR}, #{trainNo,jdbcType=VARCHAR},
	#{stationOrder,jdbcType=TINYINT},
	#{stationCode,jdbcType=VARCHAR}, #{stationName,jdbcType=VARCHAR}, #{arriveTime,jdbcType=VARCHAR},
	#{leaveTime,jdbcType=VARCHAR}, #{stayTime,jdbcType=DOUBLE},
	#{runTime,jdbcType=VARCHAR},
	#{days,jdbcType=VARCHAR}, #{distance,jdbcType=DOUBLE}, now(),
	#{updateTime,jdbcType=TIMESTAMP}, #{updateTimestamp,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="org.dptech.wap.train.persist.model.TrainStationLink" >
    insert into train_station_link
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="trainNo != null" >
        train_no,
      </if>
      <if test="stationOrder != null" >
        station_order,
      </if>
      <if test="stationCode != null" >
        station_code,
      </if>
      <if test="stationName != null" >
        station_name,
      </if>
      <if test="arriveTime != null" >
        arrive_time,
      </if>
      <if test="leaveTime != null" >
        leave_time,
      </if>
      <if test="stayTime != null" >
        stay_time,
      </if>
      <if test="runTime != null" >
        run_time,
      </if>
      <if test="days != null" >
        days,
      </if>
      <if test="distance != null" >
        distance,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateTimestamp != null" >
        update_timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="trainNo != null" >
        #{trainNo,jdbcType=VARCHAR},
      </if>
      <if test="stationOrder != null" >
        #{stationOrder,jdbcType=TINYINT},
      </if>
      <if test="stationCode != null" >
        #{stationCode,jdbcType=VARCHAR},
      </if>
      <if test="stationName != null" >
        #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="arriveTime != null" >
        #{arriveTime,jdbcType=VARCHAR},
      </if>
      <if test="leaveTime != null" >
        #{leaveTime,jdbcType=VARCHAR},
      </if>
      <if test="stayTime != null" >
        #{stayTime,jdbcType=DOUBLE},
      </if>
      <if test="runTime != null" >
        #{runTime,jdbcType=VARCHAR},
      </if>
      <if test="days != null" >
        #{days,jdbcType=VARCHAR},
      </if>
      <if test="distance != null" >
        #{distance,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTimestamp != null" >
        #{updateTimestamp,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.dptech.wap.train.persist.model.TrainStationLink" >
    update train_station_link
    <set >
      <if test="trainNo != null" >
        train_no = #{trainNo,jdbcType=VARCHAR},
      </if>
      <if test="stationOrder != null" >
        station_order = #{stationOrder,jdbcType=TINYINT},
      </if>
      <if test="stationCode != null" >
        station_code = #{stationCode,jdbcType=VARCHAR},
      </if>
      <if test="stationName != null" >
        station_name = #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="arriveTime != null" >
        arrive_time = #{arriveTime,jdbcType=VARCHAR},
      </if>
      <if test="leaveTime != null" >
        leave_time = #{leaveTime,jdbcType=VARCHAR},
      </if>
      <if test="stayTime != null" >
        stay_time = #{stayTime,jdbcType=DOUBLE},
      </if>
      <if test="runTime != null" >
        run_time = #{runTime,jdbcType=VARCHAR},
      </if>
      <if test="days != null" >
        days = #{days,jdbcType=VARCHAR},
      </if>
      <if test="distance != null" >
        distance = #{distance,jdbcType=DOUBLE},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTimestamp != null" >
        update_timestamp = #{updateTimestamp,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.dptech.wap.train.persist.model.TrainStationLink" >
    update train_station_link
    set train_no = #{trainNo,jdbcType=VARCHAR},
      station_order = #{stationOrder,jdbcType=TINYINT},
      station_code = #{stationCode,jdbcType=VARCHAR},
      station_name = #{stationName,jdbcType=VARCHAR},
      arrive_time = #{arriveTime,jdbcType=VARCHAR},
      leave_time = #{leaveTime,jdbcType=VARCHAR},
      stay_time = #{stayTime,jdbcType=DOUBLE},
      run_time = #{runTime,jdbcType=VARCHAR},
      days = #{days,jdbcType=VARCHAR},
      distance = #{distance,jdbcType=DOUBLE},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_timestamp = #{updateTimestamp,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>