<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.dptech.wap.train.persist.mapper.TrainStationInfoMapper">
	<resultMap id="BaseResultMap"
		type="org.dptech.wap.train.persist.model.TrainStationInfo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="is_valid" property="isValid" jdbcType="TINYINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, code, name, is_valid, create_time, update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from train_station_info
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from train_station_info
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="org.dptech.wap.train.persist.model.TrainStationInfo">
		insert into train_station_info (id, code, name,
		is_valid, create_time, update_time
		)
		values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{isValid,jdbcType=TINYINT}, now(), #{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="org.dptech.wap.train.persist.model.TrainStationInfo">
		insert into train_station_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="isValid != null">
				is_valid,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="isValid != null">
				#{isValid,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				now(),
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.dptech.wap.train.persist.model.TrainStationInfo">
		update train_station_info
		<set>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="isValid != null">
				is_valid = #{isValid,jdbcType=TINYINT},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.dptech.wap.train.persist.model.TrainStationInfo">
		update train_station_info
		set code = #{code,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		is_valid = #{isValid,jdbcType=TINYINT},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<select id="getByName" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from train_station_info
		where name = #{name,jdbcType=VARCHAR}
	</select>
</mapper>