<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <mvc:annotation-driven />
    
    <!-- <context:component-scan base-package="org.dptech">
		<context:include-filter type="regex" expression=".wap.train.service.*"/>
		<context:include-filter type="regex" expression=".wap.train.cache.*"/>
		<context:include-filter type="regex" expression=".wap.train.persist.*"/>
		<context:include-filter type="regex" expression=".wap.train.spider.*"/>
	</context:component-scan> -->
	<context:component-scan base-package="org.dptech"></context:component-scan>
	
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="order" value="1" />
    	<property name="ignoreUnresolvablePlaceholders" value="true" />
    	<property name="locations">
    		 <value>classpath:addr.properties</value>
    	</property>
	</bean>
    
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.userName}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:sql-mapper-config.xml"></property>
    </bean>
    
    <tx:annotation-driven transaction-manager="txManager" />
	<bean name="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
    
    <bean id="trainInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="org.dptech.wap.train.persist.mapper.TrainInfoMapper"></property>
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    
    <bean id="trainPriceInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="org.dptech.wap.train.persist.mapper.TrainPriceInfoMapper"></property>
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    
    <bean id="trainSeatTypeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="org.dptech.wap.train.persist.mapper.TrainSeatTypeMapper"></property>
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    
    <bean id="trainStationInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="org.dptech.wap.train.persist.mapper.TrainStationInfoMapper"></property>
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    
    <bean id="trainStationLinkMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="org.dptech.wap.train.persist.mapper.TrainStationLinkMapper"></property>
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    
    <bean id="trainStationPriceInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="org.dptech.wap.train.persist.mapper.TrainStationPriceInfoMapper"></property>
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    
    
    <bean class="org.dptech.wx.sdk.util.SpringContextUtil"></bean>
    
</beans>